.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.App-header {
  padding: 10px 50px 10px 50px;
  background-color: rgb(37, 18, 139);
}

.App-footer {
  padding: 10px 50px 10px 50px;
  background-color: rgb(204, 58, 58);
}